/* application.less */

//-----------------------------------
// Application Imports
//-----------------------------------
// Split logical units out into their own less
// files to keep each file small and organized.
//
@import 'shell';

@import 'text-selection';
@import 'nav';

.selection;

section {
    padding:10px 0px;
}

ul.none {
    list-style: none;
}

ul li.active a {
    color: #FFFFFF;
}

#username {
    font-size: 14px;
}

.login_load {
    background-image: url('/assets/img/login-load.gif');
    background-repeat: no-repeat;
    background-position: right;
    height: 15px;
    width: 150px;
    padding: 50px 0px 0px 0px;
}

.login_message {
    width:250px;
    font-size: 13px;
}

#site-body {
    margin-bottom: 20px;
}

@media (max-width: 990px) {
    body {
        overflow-x: hidden;
    }
    
    #content {
        margin-top:0px;
    }
}