/* nav.less */

//-----------------------------------
// Nav Imports
//-----------------------------------
@import 'nav-icons';

//-----------------------------------
// Nav Variables
//-----------------------------------
@nav-width: 94px;
@main-nav-width: 457px;

nav {
    
    .horizontal_nav {
        ul li {
            display: inline-block;
            width: @nav-width;
            height:@nav-width - 6;
            text-align: center;
        }
    }
    
    .nav-actions {
        ul li:hover {
            background-color: #E0E0E0;
        }
        
        ul li.active {
            color: #FFFFFF;
            background-color: #AAAAAA;
        }
    }
    
    &#home_nav {
        .horizontal_nav;
        .nav-actions;
        
        height:@nav-width - 6;
        cursor: pointer;
        width: 248px;
        background-color: #F0F0F0;
        border: 1px solid #000000;
        margin: 20px 0px 0px 0px;
        float: left;
    }
    
    &#main-nav {
        .horizontal_nav;
        .nav-actions;
        
        top:auto;
        z-index: 999;
        font-size: 12px;
        margin: -@nav-width/2 - 27 0px 0px 0px;
        position: fixed;
        width: 100%;
        
        #nav_list {
            width: 1011px;
            margin: 0px auto;
        }
        
        ul li, #login_form, #home_nav ul li {
            cursor: pointer;
            background-color: #F0F0F0;
            border: 1px solid #000000;
            margin:0px 5px;
        }
        
        ul li:first-child {
            margin-left: 0px;
        }
        
        #login_wrapper {
            border: none;
            background: transparent;
            margin: 0px 2px;
            
            #login_form {
                width: 551px;
                margin-top: 22px;
                height:@nav-width - 5;
                
                .nav_form_label {
                    float: left;
                    width: @nav-width;
                    margin: 0px 0px 0px 0px;
                }
                
                .login_section {
                    margin: 10px 10px 0px 0px;
                    float: left;
                    
                    input {
                        margin-left: 2px;
                        margin-right: 2px;
                        display: block;
                    }
                    
                    .btn:last-child {
                        margin-top: 9px;
                    }
                }
            }
        }
    }
    
    ul {
        list-style: none;
        margin: 0px;
        padding:0px;
    }
}