
@import 'iso_views';

#skin-container {
    width: 1000px;
    margin: 0px auto;
}

#preview-wrapper {
    float: left;
}

#preview {
    height: 500px;
    width: 899px;
    margin: -20px -180px 0px -180px;
    position: relative;
    canvas {
        z-index: 333;
    }
}

#preview-hints {
    text-align: center;
    padding: 10px 0px;
}

#skindata {
    float: left;
    position: relative;
    z-index: 777;
    max-width: 380px;
    
    canvas {
        z-index: 777;
    }
    
}

#new-tag {
    margin-top: 5px;
}

#tags {
    margin-bottom: 10px;
}

#actions {
    text-align: center;
}

.remove-tag {
    cursor: pointer;
}