
@import 'iso_views';

#preview {
    width:125px;
    float:left;
}

img {
    border:1px solid #000;
}

#skin-3d {
    width: 400px;
    height: 225px;
}

div[data-minecrafthead], div[data-minecraftmodel] {
    display: inline-block;
}

#skin-pane {
    
}

.skin {
    display: inline-block;
    padding: 0px 3px;
    margin: 10px;
    border: 1px solid #888;
    
    .name {
        text-align: center;
    }
    
    .minecraft_model {
        padding: 0px 30px;
        cursor: pointer;
    }
}