
@import 'iso_views';

@controlbar-width: 230px;

#preview {
    width: 300px;
    height: 169px;
    margin: 20px -40px 15px -40px;
}

img {
    border:1px solid #000;
}

#skin-3d {
    width: 400px;
    height: 225px;
}

div[data-minecrafthead], div[data-minecraftmodel] {
    display: inline-block;
}

.skin {
    display: inline-block;
    padding: 0px 3px;
    margin: 10px;
    border: 1px solid #888;
    
    .name {
        text-align: center;
    }
    
    .minecraft_model {
        padding: 0px 30px;
        cursor: pointer;
    }
}

#control-bar {
    height:100%;
    width:@controlbar-width;
    //background-color: #FAFAFA;
    background: url('/assets/img/noisy_net.png');
    //background: url('/assets/img/dark_fish_skin.png');
    position: fixed;
    text-align: left;
}

#texture-display {
    margin-left: @controlbar-width;
}

#action-list {
    width:200px;
}

#site-body {
    padding: 0px;
    margin: 0px;
}