.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.center {
  text-align: center;
}
.loading {
  background-image: url('/assets/img/list-load.gif');
  background-repeat: no-repeat;
  background-position: left;
}
.medium {
  font-size: 18px;
}
.strong {
  font-weight: bold;
}
.row-action {
  cursor: pointer;
  margin: 0 5px;
}
.loading_link a,
.loading_link a:hover {
  background-image: url('/assets/img/list-load.gif');
  background-repeat: no-repeat;
  background-position: right;
}
.loading_legend {
  background-image: url('/assets/img/list-load.gif');
  background-repeat: no-repeat;
  background-position: left;
  background-position: left;
  display: inline-block;
  width: 200px;
  margin-left: 15px;
}
#description {
  height: 175px;
  min-width: 425px;
  max-width: 675px;
}
.group-action {
  margin: 0px 0px 5px 15px;
}
