.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.center {
  text-align: center;
}
.loading {
  background-image: url('/assets/img/list-load.gif');
  background-repeat: no-repeat;
  background-position: left;
}
.medium {
  font-size: 18px;
}
.strong {
  font-weight: bold;
}
#about {
  height: 600px;
}
#downloads {
  background: url('/assets/img/noisy_net.png');
  color: #EFEFEF;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #252525;
}
#downloads header {
  border-bottom: 1px solid #FEFEFE;
}
#downloads footer {
  border-top: 1px solid #FEFEFE;
}
#post_track,
#download_track,
.info_track {
  margin: 0 3%;
  position: relative;
}
.container {
  width: 65%;
  position: relative;
  margin: 0 auto;
}
#announcements .body {
  overflow-y: scroll;
  overflow-x: hidden;
}
article {
  width: 48%;
  position: relative;
  display: inline-block;
  margin: 1%;
}
article header {
  font-weight: bold;
  font-size: 20px;
  padding: 6px;
  border-bottom: 1px solid #000000;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
article .body {
  height: 350px;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
article .download .description {
  height: 233.33333333333px;
}
article .download .links {
  height: 87.5px;
  list-style: none;
  margin-left: 0px;
}
article .download .links li {
  display: inline;
}
article footer {
  border-top: 1px solid #000000;
  text-align: center;
  padding: 0px 5px;
  font-size: 12px;
}
section {
  padding: 50px 0px;
}
@media (max-width: 980px) {
  article {
    display: inline;
  }
}
