.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.center {
  text-align: center;
}
.loading {
  background-image: url('/assets/img/list-load.gif');
  background-repeat: no-repeat;
  background-position: left;
}
.medium {
  font-size: 18px;
}
.strong {
  font-weight: bold;
}
#about {
  height: 600px;
}
article {
  width: 22%;
  position: relative;
  display: inline-block;
  margin: 1%;
  border: 1px solid #000000;
}
article header {
  font-weight: bold;
  font-size: 20px;
  padding: 6px;
  border-bottom: 1px solid #000000;
  background-color: #c0c0c0;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
article .body {
  height: 200px;
  padding: 10px;
  overflow-y: auto;
  position: relative;
}
article .download .description {
  height: 133.33333333333px;
}
article .download .links {
  height: 50px;
  list-style: none;
  margin-left: 0px;
}
article .download .links li {
  display: inline;
}
article footer {
  border-top: 1px solid #000000;
  background-color: #c0c0c0;
  text-align: center;
  padding: 0px 5px;
  font-size: 12px;
}
section {
  margin: 0px 3%;
}
@media (max-width: 1200px) {
  article {
    width: 45%;
    margin: 2%;
  }
}
