.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.center {
  text-align: center;
}
.loading {
  background-image: url('/assets/img/list-load.gif');
  background-repeat: no-repeat;
  background-position: left;
}
.medium {
  font-size: 18px;
}
.strong {
  font-weight: bold;
}
section {
  border: 1px solid #000000;
  margin: 20px 0px;
  padding: 0px;
  position: relative;
  height: 120px;
  *zoom: 1;
}
section:before,
section:after {
  display: table;
  content: "";
  line-height: 0;
}
section:after {
  clear: both;
}
section .quick-info {
  float: left;
  padding: 0px 10px;
  width: 12%;
  position: relative;
  height: 120px;
}
section .quick-info .players {
  margin-left: 10px;
}
section .quick-info .online-info {
  margin: 18px 0px 19px 0px;
  padding-left: 10px;
}
section .quick-info .vote-info {
  margin: 18px 0px;
  font-size: 20px;
  padding-left: 10px;
}
section .quick-info .vote-info [class^="icon"] {
  margin-top: 5px;
  opacity: .4;
  cursor: pointer;
}
section .quick-info .vote-info [class^="icon"]:hover {
  opacity: 1;
}
section .quick-info .vote-info .small-text {
  font-size: 16px;
}
section .details {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1%;
  padding-right: 1%;
  border-left: 1px solid #000;
  width: 83%;
  height: 100px;
  overflow: hidden;
}
section .details a.editable {
  display: block;
}
section hr {
  margin: 7px 0px;
}
.name {
  font-size: 20px;
}
.info {
  font-size: 16px;
  color: #808080;
}
#new-server {
  display: none;
  border-color: #468847;
}
.server_list_load {
  background-image: url('/assets/img/login-load.gif');
  background-repeat: no-repeat;
  background-position: center;
  height: 15px;
}
.listAd {
  text-align: center;
  padding: 15px;
}
