.minecraft_head .head {
  display: none;
}
.minecraft_model .head {
  display: none;
}
.minecraft_head:hover .hat {
  display: none;
}
.minecraft_model:hover .hat {
  display: none;
}
.minecraft_head:hover .head {
  display: inline-block;
}
.minecraft_model:hover .head {
  display: inline-block;
}
.scratch {
  display: none;
}
#preview {
  width: 300px;
  height: 169px;
  margin: 0px -40px 15px -40px;
}
#preview-hints {
  color: #eee;
  text-align: center;
  padding: 10px 0px;
}
img {
  border: 1px solid #000;
}
#skin-3d {
  width: 400px;
  height: 225px;
}
div[data-minecrafthead],
div[data-minecraftmodel] {
  display: inline-block;
}
.skin {
  display: inline-block;
  padding: 0px;
  margin: 10px;
  position: relative;
}
.skin:hover a.close {
  display: block;
}
.skin a.close {
  display: none;
  position: absolute;
  right: 3px;
  color: #FF0000;
  font-size: 25px;
}
.skin .name {
  text-align: center;
}
.skin .minecraft_model {
  padding: 0px 30px;
  cursor: pointer;
}
#control-bar {
  height: 100%;
  width: 230px;
  background: url('/assets/img/noisy_net.png');
  position: fixed;
  text-align: left;
}
#texture-display {
  margin-left: 230px;
}
#action-list {
  text-align: center;
}
#action-list a {
  text-shadow: none;
}
#site-body {
  padding: 0px;
  margin: 0px;
}
